@import "fonts.scss";
@import "columns.scss";

body{
  margin:0 !important;
  font-size: 20px;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
}
.cols.alialignItemsVertBottom{
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* legends */
.colorCell{
	height: 20px !important;
	width: 15px !important;
	border: none !important;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
