@import "reset.scss";
@import "fonts.scss";
@import "columns.scss";

body{
  margin:0 !important;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
}
.cols.alignItemsVertBottom{
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-wrap: nowrap;
}
.cols.alignItemsCenter{
  align-items: center;
}
