@import "variables.scss";

/* Column */

.cols{
  display: flex;
  flex-wrap: wrap;
  > *{
    margin:0 ($fullMarge / 2);
  }
}


.col-1{
  flex-basis: calc(#{$col1} - #{$fullMarge});
}
.col-2{
  flex-basis: calc(#{$col2} - #{$fullMarge});
}
.col-3{
  flex-basis: calc(#{$col3} - #{$fullMarge});
}
.col-4{
  flex-basis: calc(#{$col4} - #{$fullMarge});
}
.col-5{
  flex-basis: calc(#{$col5} - #{$fullMarge});
}
.col-6{
  flex-basis: calc(#{$col6} - #{$fullMarge});
}
.col-7{
  flex-basis: calc(#{$col7} - #{$fullMarge});
}
.col-8{
  flex-basis: calc(#{$col8} - #{$fullMarge});
}
.col-9{
  flex-basis: calc(#{$col9} - #{$fullMarge});
}
.col-10{
  flex-basis: calc(#{$col10} - #{$fullMarge});
}
.col-11{
  flex-basis: calc(#{$col11} - #{$fullMarge});
}
.col-12{
  flex-basis: calc(#{$col12} - #{$fullMarge});
}


/* Margin */

.marginLeft-1{
  margin-left: calc(#{$col1} + (#{$fullMarge} / 2) ) !important;
}
.marginLeft-2{
  margin-left: calc(#{$col2} + (#{$fullMarge} / 2) ) !important;
}
.marginLeft-3{
  margin-left: calc(#{$col3} + (#{$fullMarge} / 2) ) !important;
}
.marginLeft-4{
  margin-left: calc(#{$col4} + (#{$fullMarge} / 2) ) !important;
}
.marginLeft-5{
  margin-left: calc(#{$col5} + (#{$fullMarge} / 2) ) !important;
}
.marginLeft-6{
  margin-left: calc(#{$col6} + (#{$fullMarge} / 2) ) !important;
}

.marginRight-1{
  margin-right: calc(#{$col1} + (#{$fullMarge} / 2) ) !important;
}
.marginRight-2{
  margin-right: calc(#{$col2} + (#{$fullMarge} / 2) ) !important;
}
.marginRight-3{
  margin-right: calc(#{$col3} + (#{$fullMarge} / 2) ) !important;
}
.marginRight-4{
  margin-right: calc(#{$col4} + (#{$fullMarge} / 2) ) !important;
}
.marginRight-5{
  margin-right: calc(#{$col5} + (#{$fullMarge} / 2) ) !important;
}
.marginRight-6{
  margin-right: calc(#{$col6} + (#{$fullMarge} / 2) ) !important;
}

.collapsed{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.marginBottom-1{
  margin-bottom: $fullMarge * 1 !important;
}
.marginBottom-2{
  margin-bottom: $fullMarge * 2 !important;
}
.marginBottom-3{
  margin-bottom: $fullMarge * 3 !important;
}
.marginBottom-4{
  margin-bottom: $fullMarge * 4 !important;
}
.marginBottom-5{
  margin-bottom: $fullMarge * 5 !important;
}
.marginBottom-6{
  margin-bottom: $fullMarge * 6 !important;
}


/* Padding */

.padding-1 iframe{
  padding: $fullMarge / 2;
}

.padding-2 iframe{
  padding: $fullMarge;
}

.padding-3 iframe{
  padding: $fullMarge * 1.5;
}

.padding-4 iframe{
  padding: $fullMarge * 2;
}


/* Group behavior Vertical */

.minHeightFull{
  /* min-height: 100vh; */
}
.minHeightAuto{
  min-height: auto !important;
}
.alignItemsVertTop{
  justify-content: flex-start;
}
.alignItemsVertBottom{
  justify-content: flex-end;
}
.cols.alignItemsVertBottom{
  align-items: flex-end;
}
.cols.alignItemsCenter{
  align-items: center;
}

.component.textBottom{
  display:flex;
  flex-flow:column;
}
.component.textBottom > div:first-child{
  order:2;
  table{
    background-color: transparent;
    width: 100% !important;
    .portlet-header-text{
      text-align:center;
      text-transform: uppercase;
      font-size: 1rem !important;
      font-weight: 100 !important;

    }

  }
}
.component.textBottom > div:last-child{
  order:1;
  margin-top: ($fullMarge / 2);
}
