
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,600,700|Barlow:400,600|Merriweather:400,400i,700,900i');

body.dashboard_viewer{
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	@import "fonts.scss";
}


.dashboard_viewer{
	@import "reset.scss";
	@import "override.scss";
	@import "layout.scss";


	/*
	 * Layout
	 */


	*{
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.componentGroup{
		/* min-height: 100vh; */
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		> div{
			width: 100% !important;
			max-width: $pMaxWidth !important;
			margin: ($fullMarge*4) auto;

		}
		> div:first-child{
			display: none;
		}
		> div:last-child{
			> .portlet-content > div{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				padding:$fullMarge ($fullMarge/2);
				/* background-color: $color1; */
			}
			.component{
					margin:0 ($fullMarge/2);
			}
		}
	}

	.justifyCenter{
		> div:last-child{
			> .portlet-content > div{
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
			}
		}
	}


	.fixed{
		position: fixed !important;
	}
	.fixedLeft{
		left:0 !important;
		width: auto !important;
		min-width: 200px;
	}
	.fixedRight{
		right:0 !important;
		width: auto !important;
	}
	.fixedTop{
		top:0 !important;
	}
	.fixedBottom{
		bottom:0 !important;
	}
	.fixedCenter{
		top:45% !important;
	}



	/* Height iframe */

	.minHeight-1{
	  > div:last-child{
	    iframe{
	      min-height: calc( (#{$pMaxWidth} / (12 / 1)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-2{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 2)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-3{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 3)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-4{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 4)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-5{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 5)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-6{
	  > div:last-child{
	    iframe{
	      min-height: calc( (#{$pMaxWidth} / (12 / 6)) - (#{$fullMarge} * 2) ) !important;

	    }
	  }
	}
	.minHeight-7{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 7)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-8{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 8)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-9{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 9)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-10{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 10)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-11{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 11)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-12{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 12)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}





	/*
	 * Backgrounds
	 */

	.bgColor-1{
		background-color: $color1;
	}
	.bgColor-2{
		background-color: $color2;
	}
	.bgColor-3{
		background-color: $color3;
	}
	.bgColor-White{
		background-color: white;
	}
	.bgColor-WhiteTamed{
		background-color:rgba(255,255,255,0.5);
	}

	.bgImg{
		background-repeat: no-repeat;
	}
	.bgImgCover{
		background-size: cover;
		background-attachment: fixed;
	}
	.bgImgBottom{
		background-position: bottom center;
	}
	.bgImgLeft{
		background-position: 5% center;
	}
	.bgRounded{
		background-color: transparent !important;
		.portlet-content > div{
			overflow: visible !important;
			border-radius: 50%;
			padding-bottom: 100%; /* 16:9 */
			height: 0 !important;
			iframe{
				position: absolute !important;
				top: 0 !important;
				left: 0 !important;
				width: 100% !important;
				height: 100% !important;
			}
		}
		&.bgColor-1 .portlet-content > div{
			background-color: $color1 !important;
		}
		&.bgColor-2 .portlet-content > div{
			background-color: $color2 !important;
		}
		&.bgColor-3 .portlet-content > div{
			background-color: $color3 !important;
		}
		&.bgColor-White .portlet-content > div{
			background-color: white !important;
		}
		&.bgColor-WhiteTamed .portlet-content > div{
			background-color:rgba(255,255,255,0.5) !important;
		}
	}


	.videoWrapper {
	position: relative;
	padding-bottom: 100%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	/* Filters */

	.aboveGroupFilter{
		z-index: 999 !important;
	}

	.groupFilter{
		z-index: 998 !important;
		overflow: visible !important;
		*{
			overflow: visible !important;
		}
		&.fixed *{
			min-width: auto !important;
		}
		&.fixed .tdFilterImage{
			min-width: 20px !important;
		}
		.filtersSelect{
			margin-top: ($fullMarge / 2);
			padding:0 ($fullMarge / 2);
			table{
				tbody td{
					cursor: pointer;
					font-family: 'Merriweather', serif;
					color: #999;
					text-align: center;
					height: 40px;
					vertical-align: middle;
					font-size: 1.5rem;
					padding:0 0.5em 0 1.5em;
					&:hover{
						color: $color1;
					}
					&.tdMemberActive{
						background: none;
					}
					&.tdMemberSelected{
						background: url('../assets/imgs/curseur.svg') no-repeat center left;
						color: #fff;
						border-radius: 10px;
					}

				}
			}
		}

	}
	.slicerTable{
		width: 100% !important;
		.trFilter{
			.tdFilterImage{
				width: 1em !important;
				height: 1em !important;
			}
		}
		.tdHeaderFilter,
		.tdFilter{
			background-color: $color5;
			font-size: 0.8rem;
			text-align: left;
			padding-left: 0.2rem;
		}
		.tdHeaderFilter{
			font-weight: 700;
		}
	}

	/* legends */
	.legendItem{
		.label{
			padding-left: 1rem;
			font-size: 0.8rem;
		}
		td{
			vertical-align: middle;
			padding:0.2rem 0;
		}

		.colorCell{
			border: none !important;
			td{
				height: 15px !important;
				width: 20px !important;
				border: none !important;
				-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
				        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
			}
		}
	}
	.bgColor-2{
		.legendItem{
			color: $color5;
		}
	}

	/* popin */

	.dd-window{
		-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
		        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
		border:none !important;
		background-color: $color2 !important;
		.dd-window-body{
			background: transparent !important;
			.dd-window-content{
				border:none !important;
			}
			.cols{
				color: $color5;
				margin: $fullMarge;
			}
		}

	}


 /* Filtre liste flottante */
	.slicerSelectComponent{
		z-index:99 !important;
		.slicerComboDiv{
			height: 2em !important;
			.chzn-container{
				width: 100% !important;
				.chzn-single{
					border-radius: 0 !important;
					background: $color3 !important;
			    border: none !important;
			    color: $color4 !important;
			    -webkit-box-shadow: none !important;
			            box-shadow: none !important;
				}
			}
			table, td{
				width: 100% !important;
			}
			.chzn-drop{
				left:9000px !important;
				width: 100% !important;
				border: none !important;
				background-color: $color3 !important;
				border-radius: 0 !important;
				padding: ($fullMarge / 2);
				.divContent{
					max-height: 200px;
					li{
						font-size: 0.8rem;
						color:$color4 !important;
					}
				}
			}
			.chzn-container-active .chzn-drop{
				left:0px !important;
			}
		}
	 }

.component .breadcrumbs{
	display: none !important;
}
	/* header */

	.dd-tab-bar{
		background-color: $color5;
	}
	.dd-tab-header{
		background-color: $color5;
	}
	.dd-tab-header-selected{
		background-color: $color2;
	}

	.dd-tab-header-text{
		font-size: 0.8rem;
	}

	.topPanel{
		background-color: $color2;
		font-size: 0.8rem;
		padding: 0.5rem 0.5rem 0;
		.topPanelIconLabelPanel_Icon{
			margin-right: 0.5rem;

		}
		.topPanelIconLabelPanel_Label,
		.userLabel{
			color: $color5;
		}
	}


	@import "responsive.scss";
}
