
@import "variables.scss";
//@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,600,700|Barlow:400,600|Merriweather:400,400i,700,900i');

body.dashboard_viewer{
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	@import "fonts.scss";
}



.dashboard_viewer{
	@import "reset.scss";
	@import "override.scss";
	@import "columns.scss";


	/*
	 * Layout
	 */


	*{
		box-sizing: border-box;
	}

	.componentGroup{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		> div{
			width: 100% !important;
			max-width: $pMaxWidth !important;
			margin: ($fullMarge*4) auto;

		}
		> div:first-child{
			display: none;
		}
		> div:last-child{
			> .portlet-content > div{
				display: flex;
				flex-wrap: wrap;
				padding:$fullMarge ($fullMarge/2);
				/* background-color: $color1; */
			}
			.component{
					margin:0 ($fullMarge/2);
			}
		}
	}

	.justifyCenter{
		> div:last-child{
			> .portlet-content > div{
				justify-content: center;
			}
		}
	}


	.fixed{
		position: fixed !important;
	}
	.fixedLeft{
		left:0 !important;
		width: auto !important;
	}
	.fixedRight{
		right:0 !important;
		width: auto !important;
	}
	.fixedTop{
		top:0 !important;
	}
	.fixedBottom{
		bottom:0 !important;
	}
	.fixedCenter{
		top:45% !important;
	}

	/* Group behavior Vertical */

	.minHeightFull{
		min-height: 100vh;
	}
	.minHeightAuto{
		min-height: auto;
	}
	.alignItemsVertTop{
		justify-content: flex-start;
	}
	.alignItemsVertBottom{
		justify-content: flex-end;
	}
	.cols.alialignItemsVertBottom{
		align-items: flex-end;
	}


	/* Height iframe */

	.minHeight-1{
	  > div:last-child{
	    iframe{
	      min-height: calc( (#{$pMaxWidth} / (12 / 1)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-2{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 2)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-3{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 3)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-4{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 4)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-5{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 5)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-6{
	  > div:last-child{
	    iframe{
	      min-height: calc( (#{$pMaxWidth} / (12 / 6)) - (#{$fullMarge} * 2) ) !important;

	    }
	  }
	}
	.minHeight-7{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 7)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-8{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 8)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-9{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 9)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-10{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 10)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-11{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 11)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}
	.minHeight-12{
	  > div:last-child{
	    iframe{
	       min-height: calc( (#{$pMaxWidth} / (12 / 12)) - (#{$fullMarge} * 2) ) !important;
	    }
	  }
	}


	/*
	 * Backgrounds
	 */

	.bgColor-1{
		background-color: $color1;
	}
	.bgColor-2{
		background-color: $color2;
	}
	.bgColor-3{
		background-color: $color3;
	}
	.bgColor-White{
		background-color: white;
	}
	.bgColor-WhiteTamed{
		background-color:rgba(255,255,255,0.5);
	}

	.bgImg{
		background-repeat: no-repeat;
	}
	.bgImgCover{
		background-size: cover;
		background-attachment: fixed;
	}
	.bgImgBottom{
		background-position: bottom center;
	}

	/* Filters */

	.groupFilter{
		z-index: 999 !important;
		overflow: visible !important;
		*{
			overflow: visible !important;
		}
		.filtersSelect{
			margin-top: ($fullMarge / 2);
			padding:0 ($fullMarge / 2);
			table{
				tbody td{
					cursor: pointer;
					font-family: 'Merriweather', serif;
					color: #999;
					text-align: center;
					height: 40px;
					vertical-align: middle;
					font-size: 1.5rem;
					padding:0 0.5em 0 1.5em;
					&:hover{
						color: $color2;
					}
					&.tdMemberActive{
						background: none;
					}
					&.tdMemberSelected{
						background: url('../assets/imgs/curseur.svg') no-repeat center left;
						color: #fff;
						border-radius: 10px;
					}

				}
			}
		}

	}
	.slicerTable{
		width: 100% !important;
		.trFilter{
			.tdFilterImage{
				width: 1em !important;
				height: 1em !important;
			}
		}
		.tdHeaderFilter,
		.tdFilter{
			font-size: 0.8rem;
		}
	}

	.chzn-drop{
	  left:9000px !important;
	}
	.chzn-container-active .chzn-drop{
	  left:0px !important;
	}

	/* header */

	.dd-tab-header-text{
		font-size: 0.8rem;
	}
/*
	.topPanel{
		background-color: $color2;
		color: $color5;
		font-size:14px !important;
		display: flex;
		align-items:center;
		padding:0.5em !important;
		.logoTopPanel{
			background: url('assets/imgs/logo.png') no-repeat center center;
			height:32px;
			width: 87px;
			margin-right:auto;
		}
		.rightTopPanel{
			display:flex;
			align-items:center;
			div{
				cursor:pointer;
			}
			.divider{
				width:1px;
				height:1em;
				background-color:$color5;
				margin:0px 1em;
			}
		}
	}

	.dd-tab-bar{
		background-color:$color3;
		color:$color4;
		text-transform: uppercase;
		font-weight: 600;
		font-size:14px !important;
		display:flex;
		padding:0em !important;
		position:relative !important;
		left:unset !important;
		right:unset !important;
		bottom:unset !important;
		width:100% !important;
		line-height:1 !important;
		.dd-tab-header,
		.dd-tab-header-selected{
		  position:relative !important;
		  margin:5px !important;
			cursor:pointer;
		}
		.dd-tab-header-selected{
			color:$color1;
		}
	}

	*/
}
