/* html,body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td */
/* { */
/* 	margin:0; */
/* 	padding:0; */
/* } */

body
{
	margin: 0px;
	height: 100%;
	width: 100%;
}

p
{
	margin:0;
	padding:0;
}

#dashboard_editor
{
	z-index: 1 !important;
}

.normal
{
	font-family: Trebuchet MS, Arial, Verdana !important;
	font-size: small !important;
}

label
{
	font-weight: normal;
	font-family: Trebuchet MS, Arial, Verdana !important;
	color: black !important;
}

.staticTextItem
{
	font-weight: normal;
	font-family: Trebuchet MS, Arial, Verdana !important;
	color: black !important;
}

.labelSrcIcon
{
  	display: inline;
  	margin: auto;
  	padding: 2px;
}

.iframe
{
  	border: none;
  	display: block;
  	background: none;
}

/*category:toppanel*/
.topPanel
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*category:toppanel*/
.topPanel, #northPanel
{
	background: #F1F1F1;
	border: none;
	color: #000000;
}

/*category:toppanel*/
.logoTopPanel
{
	float: left;
	background: url(icons/new/logo.png) no-repeat;
	height: 32px;
	width: 135px;
	margin-left: 6px;
	margin-top: 2px;
	vertical-align: text-bottom;
}

.logoTopPanelMinus
{
	float: left;
	background: url(icons/20-logo.png) no-repeat;
	height: 20px;
	width: 135px;
	margin-left: 6px;
	margin-top: 2px;
	vertical-align: text-bottom;
}

.centerTopPanel
{
	text-align:center;
	height: 38px;
	vertical-align: middle;
}

.centerTopPanelHidden
{
	height: 22px;
}

.centerTopPanel1
{
}

/*category:toppanel*/
.userLabel
{
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	font-family: trebuchet ms, arial, verdana;
	color: #000000;
/* 	height: 38px; */
	display: inline-block;
	padding-top: 6px;
}

.rightTopPanel
{
	float: right;
	padding-top: 2px;
}

.topPanelIconLabelPanel
{
	display: inline;
	cursor: pointer;
	text-align: center;
}

.topPanelIconLabelPanel_Label
{
	display: inline;
	margin-left: 5px;
	font-size:12px;
	font-family: trebuchet ms, arial, verdana;
	color: #000000;
}

#navigationIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-navigation.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navigationIcon
{
	vertical-align: sub;
}

#navClearIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-del.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navClearIcon
{
	vertical-align: sub;
}

#navInitIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-start.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navInitIcon
{
	vertical-align: sub;
}

#navBackIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-nav-prev.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navBackIcon
{
	vertical-align: sub;
}

#navForwardIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-nav-next.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navForwardIcon
{
	vertical-align: sub;
}

#navSaveIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-record.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navSaveIcon
{
	vertical-align: sub;
}

#navRemoveIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-remove.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #navRemoveIcon
{
	vertical-align: sub;
}

#refreshIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-refresh.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #refreshIcon
{
	vertical-align: sub;
}

#offlineIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-offline.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #offlineIcon
{
	vertical-align: sub;
}

#dashboardEditorIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-editor.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #dashboardEditorIcon
{
	vertical-align: sub;
}

#logoutIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-logout.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #logoutIcon
{
	vertical-align: sub;
}

#smsIcon
{
	margin-top: 1px;
 	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/16-phone.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser #smsIcon
{
	vertical-align: sub;
}

.minusIcon
{
	margin-top: 2px;
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/16-minus.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser .minusIcon
{
	vertical-align: sub;
}

.plusIcon
{
	margin-top: 2px;
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(icons/16-plus.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser .plusIcon
{
	vertical-align: sub;
}

.divider
{
	margin-top: 1px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	height: 16px;
	width: 1px;
	border-right: 1px solid #000000;
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.recentBrowser .divider
{
	vertical-align: sub;
}

#navClear
{
	margin-left: 5px;
}

#collapseIcon
{
	height: 16px;
	width: 16px;
	margin-top: 1px;
	cursor: pointer;
	background: url(icons/new/16-fold-all.png);
	*display: inline; /* IE < 8 */
	*zoom : 1; /* IE < 8 */
}

.linkIcon
{
	display: inline;
	text-align: center;
	cursor: pointer;
}

.titleLinkIcon
{
	margin-left: 5px;
	font-size:12px;
	font-family: trebuchet ms, arial, verdana;
	color: #444444;
}

.subtitleLinkIcon
{
	font-size:10px;
	margin-left: 5px;
	color: #8F8F8F;
}

.subtitleLinkIcon .highlight
{
	font-weight: bold;
}

.agenda
{
	font-size: 15px;
	text-decoration: bold;
	color: #800000;
}

.hand
{
	cursor: pointer;
}

.combopanel
{
	z-index: 20000;
}

#interactBar
{
	z-index: 3000;
	border:none;
	border-bottom: 1px solid #D5D7DA;
	border-top: 1px solid #d0d0d0;
	background-color: #F1F1F1;
	padding-left: 2px;
	height: 100%;
}

.label
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt !important;
}

.labelNoWrap
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	white-space: nowrap;
}

.hidden
{
	display: none;
}

.noborder
{
	background-color: #626262;
}

/*category:filters*/
.trHeaderFilter
{
	valign:middle;
	background-color:#D5D7DA;
	margin:0px;
	padding:0px;
}

/*category:filters*/
.tdHeaderFilter
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	text-align: center;
}

/*category:filters*/
.trFilter
{
	align: center;
	valign: middle;
	background-color: #EEEEEE;
}

/*category:filters*/
.tdFilter
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	border-left:1px solid #CCCCCC;
	solid: #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	valign: middle;
	text-align: center;
}

/*category:filters*/
.tdFilterExclude
{
	text-decoration: line-through;
}

/*category:filters*/
.tdFilterImage
{
	solid: #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	overflow: hidden;
	valign: middle;
	text-align: center;
	cursor: pointer;
	width: 16px;
	min-width: 16px;
	height: 16px;
	background: url(icons/new/16-drop.png) no-repeat scroll 0% 50% #EEEEEE;
}

.tdFilterImageHidden
{
	solid: #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	overflow: hidden;
	valign: middle;
	text-align: center;
	width: 16px;
	height: 16px;
	background-color: #EEEEEE;
}

.divHeader
{
	width:100%;
}

.divContent
{
	width:100%;
	overflow-y: auto;
}

.searchPanel
{
	margin-top: 5px;
	background-color:white;
}

.settings
{
	color: #004488;
	font-weight: bold;
	font-family: trebuchet ms, arial, verdana;
	font-size: 10pt;
	text-align:center;
}

/*category:loginpage*/
.logoImage
{
	background-image: url(icons/logo_login.png);
}

/*category:loginpage*/
.loginPanel
{
	border: 2px solid #eb6e07;
	margin: 20px 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
}

/*category:dimensionverticallist*/
.tdMemberSelected
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	solid: #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	overflow:hidden;
	cursor:pointer;
	background-color: #ed760a;
}

/*category:dimensionverticallist*/
.tdMemberInactive
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	color: gray;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	solid: #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	overflow:hidden;
	cursor:pointer;
}

/*category:dimensionverticallist*/
.tdMemberActive
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	solid: #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	overflow:hidden;
	cursor:pointer;
	background-color:#EEEEEE;
}

.slicerTable
{
	border-collapse:collapse;
	valign:middle;
	align: center;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.slicerSearchImg
{
	width: 16px;
	background: url(icons/new/16-search.png) no-repeat;
}

/*category:dimensionhorizontallist*/
.divSlicerHorizontal
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	solid: #CCCCCC;
	overflow: hidden;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

/*category:dimensionhorizontallist*/
.spanMemberActive
{
	text-align: center;
	cursor: pointer;
	float: left;
	padding-left: 5px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	height: 20px;
	line-height: 20px;
}

/*category:dimensionhorizontallist*/
.spanMemberSelected
{
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	padding-left: 5px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color: #ED760A;
	height: 20px;
	line-height: 20px;
}

/*category:dimensionhorizontallist*/
.spanMemberInactive
{
	text-align: center;
	cursor: pointer;
	float: left;
	padding-left: 5px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: gray;
	height: 20px;
	line-height: 20px;
}

/*category:dimensionhorizontallist*/
.separatorMember
{
	height: 16px;
	border-right: 1px solid #CCCCCC;
	padding-right: 5px;
	background-color: inherit;
	border: none !important;
}

.slicerCheckBoxSpan
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	display: inline-block;
/* 	width: 100px; */
}

.slicerCheckBox
{
	margin-right: 5px;
	vertical-align: middle;
}

.speechImg
{
	position: absolute;
	right: 0px;
	top:5px;
	z-index: 100000;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(icons/16-speech.png);
}

.textquery_speech_img
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(icons/16-speech.png);
	margin-top: 3px;
	margin-left: 10px;
}

.variable_prev_img
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(icons/16-previous.png);
}

.variable_next_img
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(icons/16-next.png);
}

.progressWindow
{
	margin: 5px;
}

.legendItem
{
  margin-left:10px;
  margin-bottom:0px
}

.legendItem .colorCell
{
  border: solid 1px #BCBCBC;
}

.legendItem .label
{
  margin:1px;
  margin-left:10px
}

/*category:graphicobjects*/
.portlet
{
	border: 1px solid #D0D0D0;
}

.portlet-noborder
{
	border: none;
}

/*category:graphicobjects*/
.portlet-content
{
/* 	background: none !important; */
}

/*category:graphicobjects*/
.portlet-header
{
	background-color: #eeeeee;
	border-bottom: 1px solid #d0d0d0;
}

#dashboard_viewer .portlet-header
{
	height: 25px;
}

.portlet-header-text
{
	line-height: 15px;
	text-align: center;
	color: #333;
	font-weight: bold !important;
	font-size: 12px !important;
	font-family: Trebuchet MS, Arial, Verdana;
}

#dashboard_viewer .portlet-header-text
{
	margin: 5px;
}

.portlet-resizable
{
	border: 1px dashed #D0D0D0 !important;
}

.portlet-resizing
{
	border: 1px dashed red !important;
}

.portlet-selected
{
	border: 1px solid red !important;
}

.portlet-hidden
{
	background-color: white;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.portlet-highlighted
{
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
}

.portlet-slide
{
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-collapsed-left
{
	background-color: #fff;
	vertical-align: middle;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 20px;
	height: 50px;
	background: url(icons/16-arrow-right.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-expanded-left
{
	background-color: #fff;
	vertical-align: middle;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 20px;
	height: 50px;
	background: url(icons/16-arrow-left.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-collapsed-right
{
	background-color: #fff;
	vertical-align: middle;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 20px;
	height: 50px;
	background: url(icons/16-arrow-left.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-expanded-right
{
	background-color: #fff;
	vertical-align: middle;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 20px;
	height: 50px;
	background: url(icons/16-arrow-right.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-collapsed-top
{
	background-color: #fff;
	vertical-align: middle;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 50px;
	height: 20px;
	background: url(icons/16-arrow-down.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-expanded-top
{
	background-color: #fff;
	vertical-align: middle;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 50px;
	height: 20px;
	background: url(icons/16-arrow-up.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-collapsed-bottom
{
	background-color: #fff;
	vertical-align: middle;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 50px;
	height: 20px;
	background: url(icons/16-arrow-up.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.portlet-expanded-bottom
{
	background-color: #fff;
	vertical-align: middle;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #D0D0D0;
	width: 50px;
	height: 20px;
	background: url(icons/16-arrow-down.png) 50% 50% no-repeat;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

.dd-window-header
{
}

.dd-window-header-text
{
	color: #333 !important;
	font-weight: bold !important;
	font-size: 13px !important;
	font-family: Trebuchet MS, Arial, Verdana !important;
}

.dashboard-editor-window-header
{
	height: 30px !important;
}

.dashboard-editor-window-header-text
{
	font-family: Trebuchet MS, Arial, Verdana !important;
	font-weight: bold !important;
	font-size: 14px !important;
	color: #333 !important;
	text-align: left;
	line-height: 20px;
}

.dashboard-editor-window-header-status-text
{
	font-family: Trebuchet MS, Arial, Verdana !important;
	font-size: 13px !important;
	color: #333 !important;
	text-align: left;
	line-height: 20px;
}

.portletmenu
{
	z-index: 100;
	border: none !important;
	background: none !important;
	padding: 0 !important;
}

.hiddenPortlet
{
	display:none;
}

.highlight
{
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
}

.disabledIcon
{
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.highlightOldBrowsers
{
	border: 1px solid #888888 !important;
}

/*category:loading*/
.loading
{
	position: absolute;
	left: 40%;
	top: 40%;
	margin-left: -45px;
	height: auto;
	background-color: rgba(255,255,255,0.8);
	border: solid 1px #D4D4D4;
	padding: 10px;
}

/*category:loading*/
.loadingImg
{
	background: url(icons/loading.gif) no-repeat;
	width: 32px;
	height: 32px;
}

/*category:loading*/
.loadingTxt
{
	font-family: Trebuchet MS, Arial, Verdana;
	margin-left: 10px;
}

.error
{
	position: absolute;
	top: 40%;
	left: 30%;
	margin-left: -45px;
	height: auto;
	background-color: rgba(255,255,255,0.8);
	border: solid 1px #D4D4D4;
	padding: 10px;
}

.errorImg
{
	background: url(icons/32-error.png) no-repeat;
	width: 32px;
	height: 32px;
}

.errorTxt
{
	font-family: Trebuchet MS, Arial, Verdana;
	margin-left: 10px;
}

/*category:comments*/
.comments
{
	background-color: white;
	background-color: #eeeeee;
	width: 100%;
}

/*category:comments*/
.commentHeader
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	color: #fefefe;
  	background-color: #ff9400;
}

/*category:comments*/
.commentUser
{
	font-family: Trebuchet MS, Arial, Verdana;
	margin-left: 3px;
}

/*category:comments*/
.commentDate
{
	font-family: Trebuchet MS, Arial, Verdana;
	float: right;
	font-size: 9px;
	font-style: italic;
	margin-right: 2px;
}

/*category:comments*/
.commentFilter
{
	cursor: pointer;
	height: 16px;
	width: 16px;
	background: url(staticwebcontent/charts/template/image/16-combo-filter.png) #ff9400;
}

/*category:comments*/
.commentEdit
{
	cursor: pointer;
	height: 16px;
	width: 16px;
	background: url(icons/new/14-edit_note.png) #ff9400;
}

/*category:comments*/
.commentRemove
{
	cursor: pointer;
	height: 16px;
	width: 16px;
	background: url(icons/new/16-drop.png) #ff9400;
}

/*category:comments*/
.commentContent
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	margin-left: 3px;
}

/*category:comments*/
.commentSeparator
{
	height: 8px;
}

/*category:comments*/
.commentsDisplayAll
{
	float: right;
	font-family: Trebuchet MS, Arial, Verdana;
	color: rgb(85, 85, 85);
	font-size: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	cursor: pointer;
}

/*category:comments*/
.commentsSelection
{
	font-family: Trebuchet MS, Arial, Verdana;
	color: rgb(85, 85, 85);
	font-size: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
}

/*category:comments*/
.commentDimensionRemove
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(icons/new/16-delete.png) no-repeat;
}

/*category:comments*/
.commentIcon
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(icons/new/14-comment.png) no-repeat;
	margin-right: 5px;
}

/*category:comments*/
.commentLabel
{
	font-family: Trebuchet MS, Arial, Verdana;
	cursor: pointer;
}

.gwt-SuggestBoxPopup
{
	z-index: 1000000;
}

/*category:dimensioncombo*/
.slicerComboTDDim
{
	font-family: Trebuchet MS, Arial, Verdana;
	white-space: nowrap;
	padding-right: 5px;
}

/*category:dimensioncombo*/
.slicerComboTDSelect
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt !important;
	width: 100%;
}

/*category:dimensioncombo*/
.slicerComboSelect
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt !important;
	width: 100% !important;
}

/*category:dimensioncombo*/
.slicerComboFirstOption
{
	font-weight: bold;
}

/*category:dimensionslider*/
.slicerSlider
{
	margin: 10px;
}

/*category:dimensionslider*/
.slicerSliderMin
{
	border: 0;
	color: #f6931f;
	background: none;
	margin-left: 10px;
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 13px;
}

/*category:dimensionslider*/
.slicerSliderMax
{
	border: 0;
	color: #f6931f;
	float: right;
	background: none;
	margin-right: 10px;
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 13px;
}

.selSearchSlicer
{
  cursor: auto;
  overflow-y: auto;
}

/*category:dimensiondatepicker*/
.slicerDatePickerDiv
{
	margin-top: 5px;
}

/*category:dimensiondatepicker*/
.slicerDatePickerSpanMin
{
	margin-top: 5px;
}

/*category:dimensiondatepicker*/
.slicerDatePickerSpanMax
{
	margin-top: 5px;
	margin-left: 10px
}

/*category:dimensiondatepicker*/
.slicerDatePickerInput
{
	margin-right: 2px;
	width: 100px
}

/*print*/
@media print
{
  div.background
  {
    height: 2000px !important;
  }

  div.x-tab-panel-body
  {
    height: 2000px !important;
  }

  div.x-tab-panel-body > div
  {
    height: 2000px !important;
  }

  #viewportPanel
  {
    height: 2000px !important;
  }

  #contentPanel > div.x-panel-bwrap > div
  {
    height: 2000px !important;
  }
}

.x-tool-gear
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-properties.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-help
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-help.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-edit
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-edit_note.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-save
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-save.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-close
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-close.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-restore
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-restore.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-maximize
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-maximize.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-display-mode
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-display_mode.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-dashboard
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-dashboard.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-up
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-arrow_up.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-down
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-arrow_down.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-plus
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-plus.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-alert
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-alert.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-comment
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-comment.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-left
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-arrow_left.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

.x-tool-right
{
	height: 16px;
	width: 16px;
	background: url(icons/new/14-arrow_right.png) no-repeat;
	display: inline-block;
	float: right;
	margin-top: 2px;
	cursor: pointer;
}

#creating_chart_text_query_button .button
{
	background: transparent !important;
	text-align: left !important;
}

#creating_chart_new_source_button .button
{
	background: transparent !important;
	text-align: left !important;
}

#creating_chart_datamodel_button .label
{
	background: transparent !important;
	color: #333333 !important;
	font-size: 11px !important;
}

#creating_chart_datamodel_button .labelFocused
{
	background: transparent !important;
	color: #333333 !important;
	font-size: 11px !important;
}

#static_content_panel_header
{
 	height: 25px;
 	line-height: 25px;
}

#static_content_panel_header > .x-panel-toolbar
{
	padding-top: 5px;
}

#wallet_panel_header
{
	height: 25px;
	line-height: 25px;
}

#wallet_panel_header > .x-panel-toolbar
{
	padding-top: 5px;
}

#dim_var_panel_header
{
	height: 25px;
	line-height: 25px;
}

#dim_var_panel_header > .x-panel-toolbar
{
	padding-top: 5px;
}

#widgets_list_header
{
	height: 25px;
	line-height: 25px;
}

#widgets_list_header > .x-panel-toolbar
{
	padding-top: 5px;
}

#creating_chart_header
{
	height: 25px;
	line-height: 25px;
}

#creating_chart_header > .x-panel-toolbar
{
	padding-top: 5px;
}

 /* New theme */
 /* Progress Bar */


/* windows */
.dd-window
{
	border: 1px solid #D0D0D0 !important;
	background: #EEEEEE !important;
}

.dd-window-body
{
	background: #EEEEEE !important;
}

.dd-window-content
{
	border: 1px solid #D0D0D0 !important;
}

.dd-progress-label
{
	font-family: Trebuchet MS, Arial, Verdana !important;
	font-size: small !important;
}

/* dialogs */
.dd-dialog
{
	border: 1px solid #D0D0D0 !important;
	background: #EEEEEE !important;
}

.dd-dialog-content
{
	background: #EEEEEE !important;
}

.buttonRounded,
.buttonRoundedOver,
.buttonRoundedFocused,
.buttonRoundedFocusedOver,
.buttonRoundedDown,
.buttonRoundedFocusedDown,
.buttonRoundedSelected,
.buttonRoundedSelectedFocused,
.buttonRoundedSelectedDown,
.buttonRoundedSelectedFocusedDown,
.buttonRoundedSelectedOver,
.buttonRoundedSelectedFocusedOver,
.buttonRoundedDisabled,
.buttonRoundedSelectedDisabled,
.buttonRoundedPending,
.buttonRoundedPendingOver,
.buttonRoundedPendingFocused,
.buttonRoundedPendingFocusedOver,
.buttonRoundedPendingDown,
.buttonRoundedPendingFocusedDown,
.buttonRoundedPendingSelected,
.buttonRoundedPendingSelectedFocused,
.buttonRoundedPendingSelectedDown,
.buttonRoundedPendingSelectedFocusedDown,
.buttonRoundedPendingSelectedOver,
.buttonRoundedPendingSelectedFocusedOver,
.buttonRoundedPendingDisabled,
.buttonRoundedPendingSelectedDisabled,
.buttonRoundedDeselectedDisabled,
.filterOperatorIcon,
.filterOperatorIconOver,
.filterOperatorIconFocused,
.filterOperatorIconFocusedOver,
.filterOperatorIconDown,
.buttonRoundedOver,
.buttonRoundedFocusedOver,
.buttonRoundedSelectedFocused,
.buttonRoundedSelectedFocusedOver,
.buttonRoundedPendingOver,
.buttonRoundedPendingFocusedOver,
.buttonRoundedPendingSelectedFocused,
.buttonRoundedPendingSelectedFocusedOver,
.filterOperatorIconOver,
.filterOperatorIconFocusedOver,
.filterOperatorIconSelectedFocused,
.filterOperatorIconSelectedFocusedOver
{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: none !important;
	background-repeat: no-repeat !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;

	background: #D5D7DA !important;
	border: none !important;
	color: #333333 !important;
}

.menuButton,
.menuButtonOver,
.menuButtonDown,
.menuButtonDisabled,
.menuButtonFocused,
.menuButtonFocusedDown,
.menuButtonFocusedOver,
.menuButtonSelected,
.menuButtonSelectedDown,
.menuButtonSelectedOver,
.menuButtonSelectedDisabled,
.menuButtonPending,
.menuButtonPendingOver,
.menuButtonPendingDown,
.menuButtonPendingDisabled,
.menuButtonPendingFocused,
.menuButtonPendingFocusedDown,
.menuButtonPendingFocusedOver,
.menuButtonPendingSelected,
.menuButtonPendingSelectedDown,
.menuButtonPendingSelectedOver,
.menuButtonPendingSelectedDisabled
{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: none !important;
	background-repeat: no-repeat !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;

	background: #D5D7DA !important;
	border: none !important;
	color: #333333 !important;
}

.menuOver,
.menuOverDark,
.menuSelectedOver,
.menuSelectedOverDark,
.menuTitleFieldOver,
.menuTitleFieldOverDark,
.menuTitleFieldSelectedOver,
.menuTitleFieldSelectedOverDark,
.menuIconFieldOver,
.menuIconFieldOverDark,
.menuIconFieldSelectedOver,
.menuIconFieldSelectedOverDark,
.treeMenuSelected,
.treeMenuSelectedDark,
.treeMenuSelectedOver,
.treeMenuSelectedOverDark,
.treeMenuSelectedSelected,
.treeMenuSelectedSelectedOver
{
	background: #D5D7DA !important;
	border-bottom: 1px solid transparent !important;
	border-top: 1px solid transparent !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

label
{
	font-weight: normal;
	font-family: Trebuchet MS, Arial, Verdana !important;
}

.staticTextItem
{
	font-weight: normal;
	font-family: Trebuchet MS, Arial, Verdana !important;
}

.sectionHeaderopened, .sectionHeaderclosed, .sectionHeaderDisabledopened, .sectionHeaderDisabledclosed
{
	font-family: Trebuchet MS, Arial, Verdana !important;
}

.treeCell, .treeCellDark, .treeCellOver, .treeCellOverDark, .treeCellSelected, .treeCellSelectedDark, .treeCellSelectedOver, .treeCellSelectedOverDark, .treeCellDisabled, .treeCellDisabledDark, .treeTallCell, .treeTallCellDark, .treeTallCellOver, .treeTallCellOverDark, .treeTallCellSelected, .treeTallCellSelectedDark, .treeTallCellSelectedOver, .treeTallCellSelectedOverDark, .treeTallCellDisabled, .treeTallCellDisabledDark
{
	font-family: Trebuchet MS, Arial, Verdana !important;
}

/* menus */
.menuMain, .menuMainRTL, .menuFill, .menuFillRTL
{
	background: none !important;
	background-color: #f0f0f0 !important;
}

/* buttons */
.button, .buttonOver, .buttonFocused, .buttonFocusedOver, .buttonDown, .buttonFocusedDown, .buttonSelected, .buttonSelectedFocused, .buttonSelectedDown, .buttonSelectedFocusedDown, .buttonSelectedOver, .buttonSelectedFocusedOver, .buttonDisabled, .buttonSelectedDisabled
{
	background: #D5D7DA !important;
	border: none !important;
	color: #333333 !important;
}

/* forms */
.dd-form
{
	border: 1px solid #b5b8c8 !important;
}

.dd-form-group-label
{
	background: #EEEEEE !important;
	color: #333;
/* 	font-weight: bold; */
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
}

/* tabs */
.tabSetContainer
{
	border: none !important;
	background: none !important;
}

.dd-tab-bar
{
	background-color: #d5d7da;
	border-bottom: 1px solid #BAB8B4;
}

.dd-tab-bar-scroll
{
	background-color: #EEEEEE;
	border-left: 1px solid #d5d7da;
	border-bottom: 1px solid #d5d7da;
}

.dd-tab-bar-scroll-left
{
	background: url(icons/new/15-left-arrow.png);
	border-left: 1px solid #d5d7da;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dd-tab-bar-scroll-right
{
	background: url(icons/new/15-right-arrow.png);
	border-left: 1px solid #d5d7da;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dd-tab-bar-scroll-menu
{
	background: url(icons/new/15-down-arrow.png);
	border-left: 1px solid #d5d7da;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dd-tab-bar-hidden
{
	height: 0px !important;
}

.dd-tab-content-hidden
{
	top: 0px !important;
}

.dd-tab-header
{
	cursor: pointer;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-right: 1px;
	min-width: 100px;
	background: #EEEEEE;
	color: #333;
/* 	padding-top: 1px; */
}

.dd-tab-header-selected
{
	cursor: pointer;
/* 	font-weight: bold; */
	text-align: center;
	position: relative;
	display: inline-block;
	margin-right: 1px;
	min-width: 100px;
	background: #595959;
	color: white;
/* 	padding-top: 1px; */
}

.dd-tab-header-content
{
	padding-right: 5px;
}

.dd-tab-header-text
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 12px;
	white-space: nowrap;
/* 	margin-left: 7px; */
/* 	margin-right: 5px; */
}

#dashboard_viewer .dd-tab-header-text
{
	padding: 4px;
	padding-top: 7px;
}

#dashboard_editor .dd-tab-header-text
{
	padding-right: 4px;
	padding-left: 4px;
}

.dd-window .dd-tab-header-text
{
	padding-right: 4px;
	padding-left: 4px;
}

.dd-tab-header-icon
{
	vertical-align: bottom;
	margin-right: 3px;
	width: 16px;
	height: 16px;
}

.dd-tab-header-alert-icon
{
	width: 16px;
	height: 16px;
	margin-left: 5px;
	position: absolute;
	background-image: url(icons/new/14-alert-black.png);
	background-repeat: no-repeat;
}

.dd-tab-header-alert-icon2
{
	width: 14px;
	height: 14px;
	margin-left: 15px;
	position: absolute;
	background-image: url(icons/new/14-alert-black.png);
	background-repeat: no-repeat;
}

.dd-tab-header-selected .dd-tab-header-alert-icon
{
	width: 16px;
	height: 16px;
	margin-left: 5px;
	position: absolute;
	background-image: url(icons/new/14-alert-white.png);
	background-repeat: no-repeat;
}

.dd-tab-header-selected .dd-tab-header-alert-icon2
{
	width: 14px;
	height: 14px;
	margin-left: 15px;
	position: absolute;
	background-image: url(icons/new/14-alert-white.png);
	background-repeat: no-repeat;
}

.dd-tab-header-hidden
{
	display: none !important;
}

.dd-tab-header-title
{
	border-bottom: 1px solid #BAB8B4 !important;
}

.dd-tab-header-disabled
{
	background-color: white;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.dd-tab-closeable
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 12px;
}

#dashboard_editor .dd-tab-closeable
{
	padding-left: 7px !important;
}

.dd-tab-closeable-icon
{
	background-image: url(icons/new/11-cross.png) !important;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 11px;
	height: 11px;
	padding-left: 11px;
}

.dd-tab-header-selected .dd-tab-closeable-icon
{
	background-image: url(icons/new/11-cross-white.png) !important;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 11px;
	height: 11px;
	padding-left: 11px;
}

.dd-tab-header-selected .dd-tab-expandable
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 12px;
	width: 11px;
	height: 11px;
	background-image: url(icons/new/9-arrow_down.png) !important;
	background-repeat: no-repeat !important;
	position: absolute;
	top: 10px;
	margin-left: 5px;
}

.dd-tab-expandable
{
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 12px;
	width: 11px;
	height: 11px;
	background-image: url(icons/9-arrow_down.png) !important;
	background-repeat: no-repeat !important;
	position: absolute;
	top: 10px;
	margin-left: 5px;
}

.tabScrollerTopBack, .tabScrollerTopBackDown, .tabScrollerBottomBack, .tabScrollerBottomBackDown
{
	-moz-border-radius-topleft: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-image: url(icons/new/15-left-arrow.png) !important;
	background-color: #eeeeee !important;
}

.tabScrollerTopForward, .tabScrollerTopForwardDown, .tabScrollerBottomForward, .tabScrollerBottomForwardDown
{
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-image: url(icons/new/15-right-arrow.png) !important;
	background-color: #eeeeee !important;
}

.tabPickerDisabledtop, .tabPickertop, .tabPickerDowntop
{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-image: url(icons/new/15-down-arrow.png) !important;
	background-color: #eeeeee !important;
}

.sectionHeaderopened
{
	background: #EEEEEE !important;
	border: 1px solid #d0d0d0 !important;
}

.sectionHeaderclosed
{
	background: #EEEEEE !important;
	border: 1px solid #d0d0d0 !important;
}

.groupNode
{
	border-bottom-color: #009FA6 !important;
	color: #009FA6 !important;
}

.breadcrumbImg
{
	background-image: url(icons/new/20-home-orange.png) !important;
}

.gwt-Frame.x-component
{
	border: none !important;
}

.hoverCustomTitle
{
	font-size: 13px !important;
	font-weight: bold;
}

.hoverCustom
{
    border: 1px solid #CCCCCC;
    background-color: white;
    -moz-box-shadow: 0 0 6px #E8E8E8;
    -webkit-box-shadow: 0 0 6px#E8E8E8;
    box-shadow: 0 0 6px #E8E8E8;
    font-size: 12px;
    font-family: Trebuchet MS, Arial, Verdana;
    text-decoration: none;
    color: #363B30;
}

.canvasHover, .gridHover, .formHover
{
	border: 1px solid #CCCCCC !important;
	background-color: white !important;
	-moz-box-shadow: 0 0 6px #E8E8E8 !important;
	-webkit-box-shadow: 0 0 6px#E8E8E8 !important;
	box-shadow: 0 0 6px #E8E8E8 !important;
	font-size: 12px !important;
	font-family: Trebuchet MS, Arial, Verdana;
	text-decoration: none !important;
	color: #363B30 !important;
	min-width: 150px;
}

.mceDropDown
{
	z-index: 1000000 !important;
}

.mce-menu
{
	z-index: 1000000 !important;
}

.mce-tooltip
{
	z-index: 1000000 !important;
}

.mce-window
{
	z-index: 1000000 !important;
}

.mce-floatpanel.mce-popover
{
	z-index: 1000000 !important;
}

.mce-tinymce
{
	height: 100%;
}

.mce-tinymce-inline
{
	z-index: 1000000 !important;
}

.contextMenu_Back
{
  z-index: 1000000 !important;
}

.contextMenu
{
  z-index: 1000001 !important;
}

div.popupDivBg
{
	z-index: 1000001 !important;
}

div.popupDiv
{
	z-index: 1000002 !important;
}

.navBullets
{
	z-index:1000;
	position:absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-webkit-transform: translateZ(5px);
	top: 100% !important;
	left: 50% !important;
	margin-top: -30px !important;
	width: auto !important;
/* 	height: 0px !important; */
}

.navBullet
{
	cursor: pointer;
	position: relative !important;
	background: rgba(0, 0, 0, 0.5) !important;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 6px !important;
	height: 6px !important;
	border: 5px solid rgba(0, 0, 0, 0) !important;
	display: inline-block;
	margin-right: 2px !important;
	margin-bottom: 0px !important;
	-webkit-transition: background-color 0.2s, border-color 0.2s;
	-moz-transition: background-color 0.2s, border-color 0.2s;
	-o-transition: background-color 0.2s, border-color 0.2s;
	-ms-transition: background-color 0.2s, border-color 0.2s;
	transition: background-color 0.2s, border-color 0.2s;
	float:none !important;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

.navBullet.selected
{
	background: black !important;
}

.navLeft
{
	z-index: 1000;
	position: absolute;
	left: 0px !important;
	top: 50% !important;
	background: url(icons/large_left.png) no-repeat;
	width: 40px !important;
	margin-top: -40px !important;
	height: 40px !important;
	cursor: pointer !important;
}

.navRight
{
	z-index: 1000;
	position: absolute;
	left: 100% !important;
	top: 50% !important;
	background: url(icons/large_right.png) no-repeat;
	width: 40px !important;
	margin-top: -40px !important;
	margin-left: -40px !important;
	height: 40px !important;
	cursor: pointer !important;
}

.flip
{
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

/*.flip:hover .back, .flip.hover .back
{
    transform: rotateY(0deg);
}

.flip:hover .front, .flip.hover .front
{
    transform: rotateY(180deg);
}*/

.card
{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card.flipped
{
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

.flip .card .face
{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card .front
{
	transform: rotateX(0deg); /* fix bug in firefox (#7800) */
}

.card .back
{
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

.slide
{
	webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-o-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}

.gwt-Button
{
	background: none !important;
	background-color: #D5D7DA !important;
	color: #333333 !important;
	border: none !important;
	font-family: Trebuchet MS, Arial, Verdana;
}
