@charset "UTF-8";
/* colors */
/* width */
/* marge */
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:100,600,700|Barlow:400,600|Merriweather:400,400i,700,900i");

body.dashboard_viewer {
  font-family: 'Barlow', sans-serif;
  font-size  : 20px;
  line-height: 1.4;
}

body.dashboard_viewer p {
  font-size    : 1.25rem !important;
  margin-bottom: 1em;
}

body.dashboard_viewer h1 {
  font-family   : 'Barlow Condensed', sans-serif;
  font-weight   : 700;
  font-size     : 6rem;
  line-height   : 1;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

body.dashboard_viewer h2 {
  font-family   : 'Barlow Condensed', sans-serif;
  font-weight   : 100;
  font-size     : 4rem;
  text-transform: uppercase;
}

body.dashboard_viewer .uppercase {
  text-transform: uppercase;
}

body.dashboard_viewer .little-big {
  font-size  : 1.2rem;
  line-height: 1.2;
}

body.dashboard_viewer .big {
  font-size  : 1.5rem;
  line-height: 1.2;
}

body.dashboard_viewer .very-big {
  font-size  : 3rem;
  line-height: 1.1;
}

body.dashboard_viewer .very-very-big {
  font-size  : 5rem;
  line-height: 1;
}

body.dashboard_viewer .small {
  font-size: 0.8rem;
}

body.dashboard_viewer .light {
  font-weight: 100;
}

body.dashboard_viewer .semi-bold {
  font-weight: 600;
}

body.dashboard_viewer .bold {
  font-weight: 700;
}

body.dashboard_viewer .serif {
  font-family: 'Merriweather', sans-serif;
}

body.dashboard_viewer .italic {
  font-style: italic;
}

body.dashboard_viewer .sans-serif {
  font-family: 'Barlow', sans-serif;
}

body.dashboard_viewer .sans-serif-condensed {
  font-family: 'Barlow Condensed', sans-serif;
}

body.dashboard_viewer sup {
  font-size: 50%;
}

body.dashboard_viewer .color-1 {
  color: #e10019;
}

body.dashboard_viewer .color-2 {
  color: #2b3a85;
}

body.dashboard_viewer .color-3 {
  color: #f0e6de;
}

body.dashboard_viewer .color-4 {
  color: #333;
}

body.dashboard_viewer .color-5 {
  color: white;
}

body.dashboard_viewer .centered {
  text-align: center;
}

body.dashboard_viewer .righted {
  text-align: right;
}

.dashboard_viewer a,
.dashboard_viewer abbr,
.dashboard_viewer acronym,
.dashboard_viewer address,
.dashboard_viewer applet,
.dashboard_viewer article,
.dashboard_viewer aside,
.dashboard_viewer audio,
.dashboard_viewer b,
.dashboard_viewer big,
.dashboard_viewer blockquote,
.dashboard_viewer body,
.dashboard_viewer canvas,
.dashboard_viewer caption,
.dashboard_viewer center,
.dashboard_viewer cite,
.dashboard_viewer code,
.dashboard_viewer dd,
.dashboard_viewer del,
.dashboard_viewer details,
.dashboard_viewer dfn,
.dashboard_viewer div,
.dashboard_viewer dl,
.dashboard_viewer dt,
.dashboard_viewer em,
.dashboard_viewer embed,
.dashboard_viewer fieldset,
.dashboard_viewer figcaption,
.dashboard_viewer figure,
.dashboard_viewer footer,
.dashboard_viewer form,
.dashboard_viewer h1,
.dashboard_viewer h2,
.dashboard_viewer h3,
.dashboard_viewer h4,
.dashboard_viewer h5,
.dashboard_viewer h6,
.dashboard_viewer header,
.dashboard_viewer hgroup,
.dashboard_viewer html,
.dashboard_viewer i,
.dashboard_viewer iframe,
.dashboard_viewer img,
.dashboard_viewer ins,
.dashboard_viewer kbd,
.dashboard_viewer label,
.dashboard_viewer legend,
.dashboard_viewer li,
.dashboard_viewer mark,
.dashboard_viewer menu,
.dashboard_viewer nav,
.dashboard_viewer object,
.dashboard_viewer ol,
.dashboard_viewer output,
.dashboard_viewer p,
.dashboard_viewer pre,
.dashboard_viewer q,
.dashboard_viewer ruby,
.dashboard_viewer s,
.dashboard_viewer samp,
.dashboard_viewer section,
.dashboard_viewer small,
.dashboard_viewer span,
.dashboard_viewer strike,
.dashboard_viewer strong,
.dashboard_viewer sub,
.dashboard_viewer summary,
.dashboard_viewer sup,
.dashboard_viewer table,
.dashboard_viewer tbody,
.dashboard_viewer td,
.dashboard_viewer tfoot,
.dashboard_viewer th,
.dashboard_viewer thead,
.dashboard_viewer time,
.dashboard_viewer tr,
.dashboard_viewer tt,
.dashboard_viewer u,
.dashboard_viewer ul,
.dashboard_viewer var,
.dashboard_viewer video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

.dashboard_viewer article,
.dashboard_viewer aside,
.dashboard_viewer details,
.dashboard_viewer figcaption,
.dashboard_viewer figure,
.dashboard_viewer footer,
.dashboard_viewer header,
.dashboard_viewer hgroup,
.dashboard_viewer menu,
.dashboard_viewer nav,
.dashboard_viewer section {
  display: block;
}

.dashboard_viewer body {
  line-height: 1;
}

.dashboard_viewer ol,
.dashboard_viewer ul {
  list-style: none;
}

.dashboard_viewer blockquote,
.dashboard_viewer q {
  quotes: none;
}

.dashboard_viewer blockquote:after,
.dashboard_viewer blockquote:before,
.dashboard_viewer q:after,
.dashboard_viewer q:before {
  content: '';
  content: none;
}

.dashboard_viewer table {
  border-collapse: collapse;
  border-spacing : 0;
}

.dashboard_viewer .portletcontainer {
  position: relative !important;
  width   : 100% !important;
  height  : auto !important;
  top     : inherit !important;
  left    : inherit !important;
  z-index : inherit !important;
}

.dashboard_viewer .portletcontainer * {
  position  : relative !important;
  width     : auto !important;
  min-height: inherit !important;
  min-width : inherit !important;
  top       : inherit !important;
  left      : inherit !important;
}

.dashboard_viewer .portletcontainer *:not(iframe) {
  height: auto !important;
}

.dashboard_viewer .portletcontainer iframe {
  width : 100% !important;
  height: auto !important;
}

.dashboard_viewer .portletcontainer *[style*="visibility: hidden"] {
  height: 0 !important;
}

.dashboard_viewer .cols {
  display      : -webkit-box;
  display      : -ms-flexbox;
  display      : flex;
  -ms-flex-wrap: wrap;
  flex-wrap    : wrap;
}

.dashboard_viewer .cols > * {
  margin: 0 15px;
}

.dashboard_viewer .col-1 {
  -ms-flex-preferred-size: calc(8.33%- 30px);
  flex-basis             : calc(8.33%- 30px);
}

.dashboard_viewer .col-2 {
  -ms-flex-preferred-size: calc(16.66% - 30px);
  flex-basis             : calc(16.66% - 30px);
}

.dashboard_viewer .col-3 {
  -ms-flex-preferred-size: calc(25% - 30px);
  flex-basis             : calc(25% - 30px);
}

.dashboard_viewer .col-4 {
  -ms-flex-preferred-size: calc(33.33% - 30px);
  flex-basis             : calc(33.33% - 30px);
}

.dashboard_viewer .col-5 {
  -ms-flex-preferred-size: calc(41.66% - 30px);
  flex-basis             : calc(41.66% - 30px);
}

.dashboard_viewer .col-6 {
  -ms-flex-preferred-size: calc(50% - 30px);
  flex-basis             : calc(50% - 30px);
}

.dashboard_viewer .col-7 {
  -ms-flex-preferred-size: calc(58.33% - 30px);
  flex-basis             : calc(58.33% - 30px);
}

.dashboard_viewer .col-8 {
  -ms-flex-preferred-size: calc(66.66% - 30px);
  flex-basis             : calc(66.66% - 30px);
}

.dashboard_viewer .col-9 {
  -ms-flex-preferred-size: calc(75% - 30px);
  flex-basis             : calc(75% - 30px);
}

.dashboard_viewer .col-10 {
  -ms-flex-preferred-size: calc(83.33% - 30px);
  flex-basis             : calc(83.33% - 30px);
}

.dashboard_viewer .col-11 {
  -ms-flex-preferred-size: calc(91.66% - 30px);
  flex-basis             : calc(91.66% - 30px);
}

.dashboard_viewer .col-12 {
  -ms-flex-preferred-size: calc(100% - 30px);
  flex-basis             : calc(100% - 30px);
}

.dashboard_viewer .marginLeft-1 {
  margin-left: calc(8.33% + (30px / 2)) !important;
}

.dashboard_viewer .marginLeft-2 {
  margin-left: calc(16.66% + (30px / 2)) !important;
}

.dashboard_viewer .marginLeft-3 {
  margin-left: calc(25% + (30px / 2)) !important;
}

.dashboard_viewer .marginLeft-4 {
  margin-left: calc(33.33% + (30px / 2)) !important;
}

.dashboard_viewer .marginLeft-5 {
  margin-left: calc(41.66% + (30px / 2)) !important;
}

.dashboard_viewer .marginLeft-6 {
  margin-left: calc(50% + (30px / 2)) !important;
}

.dashboard_viewer .marginRight-1 {
  margin-right: calc(8.33% + (30px / 2)) !important;
}

.dashboard_viewer .marginRight-2 {
  margin-right: calc(16.66% + (30px / 2)) !important;
}

.dashboard_viewer .marginRight-3 {
  margin-right: calc(25% + (30px / 2)) !important;
}

.dashboard_viewer .marginRight-4 {
  margin-right: calc(33.33% + (30px / 2)) !important;
}

.dashboard_viewer .marginRight-5 {
  margin-right: calc(41.66% + (30px / 2)) !important;
}

.dashboard_viewer .marginRight-6 {
  margin-right: calc(50% + (30px / 2)) !important;
}

.dashboard_viewer .collapsed {
  margin-right: 0 !important;
  margin-left : 0 !important;
}

.dashboard_viewer .marginBottom-1 {
  margin-bottom: 30px !important;
}

.dashboard_viewer .marginBottom-2 {
  margin-bottom: 60px !important;
}

.dashboard_viewer .marginBottom-3 {
  margin-bottom: 90px !important;
}

.dashboard_viewer .marginBottom-4 {
  margin-bottom: 120px !important;
}

.dashboard_viewer .marginBottom-5 {
  margin-bottom: 150px !important;
}

.dashboard_viewer .marginBottom-6 {
  margin-bottom: 180px !important;
}

.dashboard_viewer .padding-1 iframe {
  padding: 15px;
}

.dashboard_viewer .padding-2 iframe {
  padding: 30px;
}

.dashboard_viewer .padding-3 iframe {
  padding: 45px;
}

.dashboard_viewer .padding-4 iframe {
  padding: 60px;
}

.dashboard_viewer .minHeightFull {
  /* min-height: 100vh; */
}

.dashboard_viewer .minHeightAuto {
  min-height: auto !important;
}

.dashboard_viewer .alignItemsVertTop {
  -webkit-box-pack: start;
  -ms-flex-pack   : start;
  justify-content : flex-start;
}

.dashboard_viewer .alignItemsVertBottom {
  -webkit-box-pack: end;
  -ms-flex-pack   : end;
  justify-content : flex-end;
}

.dashboard_viewer .cols.alignItemsVertBottom {
  -webkit-box-align: end;
  -ms-flex-align   : end;
  align-items      : flex-end;
}

.dashboard_viewer .cols.alignItemsCenter {
  -webkit-box-align: center;
  -ms-flex-align   : center;
  align-items      : center;
}

.dashboard_viewer .component.textBottom {
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow        : column;
  flex-flow            : column;
}

.dashboard_viewer .component.textBottom > div:first-child {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order           : 2;
  order                    : 2;
}

.dashboard_viewer .component.textBottom > div:first-child table {
  background-color: transparent;
  width           : 100% !important;
}

.dashboard_viewer .component.textBottom > div:first-child table .portlet-header-text {
  text-align    : center;
  text-transform: uppercase;
  font-size     : 1rem !important;
  font-weight   : 100 !important;
}

.dashboard_viewer .component.textBottom > div:last-child {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order           : 1;
  order                    : 1;
  margin-top               : 15px;
}

.dashboard_viewer * {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}

.dashboard_viewer .componentGroup {
  /* min-height: 100vh; */
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
  -ms-flex-pack        : distribute;
  justify-content      : space-around;
}

.dashboard_viewer .componentGroup > div {
  width    : 100% !important;
  max-width: 1280px !important;
  margin   : 120px auto;
}

.dashboard_viewer .componentGroup > div:first-child {
  display: none;
}

.dashboard_viewer .componentGroup > div:last-child > .portlet-content > div {
  display      : -webkit-box;
  display      : -ms-flexbox;
  display      : flex;
  -ms-flex-wrap: wrap;
  flex-wrap    : wrap;
  padding      : 30px 15px;
  /* background-color: $color1; */
}

.dashboard_viewer .componentGroup > div:last-child .component {
  margin: 0 15px;
}

.dashboard_viewer .justifyCenter > div:last-child > .portlet-content > div {
  -webkit-box-pack: center;
  -ms-flex-pack   : center;
  justify-content : center;
}

.dashboard_viewer .fixed {
  position: fixed !important;
}

.dashboard_viewer .fixedLeft {
  left     : 0 !important;
  width    : auto !important;
  min-width: 200px;
}

.dashboard_viewer .fixedRight {
  right: 0 !important;
  width: auto !important;
}

.dashboard_viewer .fixedTop {
  top: 0 !important;
}

.dashboard_viewer .fixedBottom {
  bottom: 0 !important;
}

.dashboard_viewer .fixedCenter {
  top: 45% !important;
}

.dashboard_viewer .minHeight-1 > div:last-child iframe {
  min-height: calc((1280px / (12 / 1)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-2 > div:last-child iframe {
  min-height: calc((1280px / (12 / 2)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-3 > div:last-child iframe {
  min-height: calc((1280px / (12 / 3)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-4 > div:last-child iframe {
  min-height: calc((1280px / (12 / 4)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-5 > div:last-child iframe {
  min-height: calc((1280px / (12 / 5)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-6 > div:last-child iframe {
  min-height: calc((1280px / (12 / 6)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-7 > div:last-child iframe {
  min-height: calc((1280px / (12 / 7)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-8 > div:last-child iframe {
  min-height: calc((1280px / (12 / 8)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-9 > div:last-child iframe {
  min-height: calc((1280px / (12 / 9)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-10 > div:last-child iframe {
  min-height: calc((1280px / (12 / 10)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-11 > div:last-child iframe {
  min-height: calc((1280px / (12 / 11)) - (30px * 2)) !important;
}

.dashboard_viewer .minHeight-12 > div:last-child iframe {
  min-height: calc((1280px / (12 / 12)) - (30px * 2)) !important;
}

.dashboard_viewer .bgColor-1 {
  background-color: #e10019;
}

.dashboard_viewer .bgColor-2 {
  background-color: #2b3a85;
}

.dashboard_viewer .bgColor-3 {
  background-color: #f0e6de;
}

.dashboard_viewer .bgColor-White {
  background-color: white;
}

.dashboard_viewer .bgColor-WhiteTamed {
  background-color: rgba(255, 255, 255, 0.5);
}

.dashboard_viewer .bgImg {
  background-repeat: no-repeat;
}

.dashboard_viewer .bgImgCover {
  background-size      : cover;
  background-attachment: fixed;
}

.dashboard_viewer .bgImgBottom {
  background-position: bottom center;
}

.dashboard_viewer .bgImgLeft {
  background-position: 5% center;
}

.dashboard_viewer .bgRounded {
  background-color: transparent !important;
}

.dashboard_viewer .bgRounded .portlet-content > div {
  overflow      : visible !important;
  border-radius : 50%;
  padding-bottom: 100%;
  /* 16:9 */
  height        : 0 !important;
}

.dashboard_viewer .bgRounded .portlet-content > div iframe {
  position: absolute !important;
  top     : 0 !important;
  left    : 0 !important;
  width   : 100% !important;
  height  : 100% !important;
}

.dashboard_viewer .bgRounded.bgColor-1 .portlet-content > div {
  background-color: #e10019 !important;
}

.dashboard_viewer .bgRounded.bgColor-2 .portlet-content > div {
  background-color: #2b3a85 !important;
}

.dashboard_viewer .bgRounded.bgColor-3 .portlet-content > div {
  background-color: #f0e6de !important;
}

.dashboard_viewer .bgRounded.bgColor-White .portlet-content > div {
  background-color: white !important;
}

.dashboard_viewer .bgRounded.bgColor-WhiteTamed .portlet-content > div {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.dashboard_viewer .videoWrapper {
  position      : relative;
  padding-bottom: 100%;
  /* 16:9 */
  padding-top   : 25px;
  height        : 0;
}

.dashboard_viewer .videoWrapper iframe {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}

.dashboard_viewer .aboveGroupFilter {
  z-index: 999 !important;
}

.dashboard_viewer .groupFilter {
  z-index : 998 !important;
  overflow: visible !important;
}

.dashboard_viewer .groupFilter * {
  overflow: visible !important;
}

.dashboard_viewer .groupFilter.fixed * {
  min-width: 100% !important;
}

.dashboard_viewer .groupFilter .filtersSelect {
  margin-top: 15px;
  padding   : 0 15px;
}

.dashboard_viewer .groupFilter .filtersSelect table tbody td {
  cursor        : pointer;
  font-family   : 'Merriweather', serif;
  color         : #999;
  text-align    : center;
  height        : 40px;
  vertical-align: middle;
  font-size     : 1.5rem;
  padding       : 0 0.5em 0 1.5em;
}

.dashboard_viewer .groupFilter .filtersSelect table tbody td:hover {
  color: #e10019;
}

.dashboard_viewer .groupFilter .filtersSelect table tbody td.tdMemberActive {
  background: none;
}

.dashboard_viewer .groupFilter .filtersSelect table tbody td.tdMemberSelected {
  background   : url("../assets/imgs/curseur.svg") no-repeat center left;
  color        : #fff;
  border-radius: 10px;
}

.dashboard_viewer .slicerTable {
  width: 100% !important;
}

.dashboard_viewer .slicerTable .trFilter .tdFilterImage {
  width : 1em !important;
  height: 1em !important;
}

.dashboard_viewer .slicerTable .tdFilter,
.dashboard_viewer .slicerTable .tdHeaderFilter {
  background-color: white;
  font-size       : 0.8rem;
  text-align      : left;
  padding-left    : 0.2rem;
}

.dashboard_viewer .slicerTable .tdHeaderFilter {
  font-weight: 700;
}

.dashboard_viewer .legendItem .label {
  padding-left: 1rem;
  font-size   : 0.8rem;
}

.dashboard_viewer .legendItem td {
  vertical-align: middle;
  padding       : 0.2rem 0;
}

.dashboard_viewer .legendItem .colorCell {
  border: none !important;
}

.dashboard_viewer .legendItem .colorCell td {
  height            : 15px !important;
  width             : 20px !important;
  border            : none !important;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow        : 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.dashboard_viewer .bgColor-2 .legendItem {
  color: white;
}

.dashboard_viewer .dd-window {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow        : 3px 3px 10px rgba(0, 0, 0, 0.3);
  border            : none !important;
  background-color  : #2b3a85 !important;
}

.dashboard_viewer .dd-window .dd-window-body {
  background: transparent !important;
}

.dashboard_viewer .dd-window .dd-window-body .dd-window-content {
  border: none !important;
}

.dashboard_viewer .dd-window .dd-window-body .cols {
  color : white;
  margin: 30px;
}

.dashboard_viewer .slicerSelectComponent {
  z-index: 99 !important;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv {
  height: 2em !important;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv .chzn-container {
  width: 100% !important;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv .chzn-container .chzn-single {
  border-radius     : 0 !important;
  background        : #f0e6de !important;
  border            : none !important;
  color             : #333 !important;
  -webkit-box-shadow: none !important;
  box-shadow        : none !important;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv table,
.dashboard_viewer .slicerSelectComponent .slicerComboDiv td {
  width: 100% !important;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv .chzn-drop {
  left            : 9000px !important;
  width           : 100% !important;
  border          : none !important;
  background-color: #f0e6de !important;
  border-radius   : 0 !important;
  padding         : 15px;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv .chzn-drop .divContent {
  max-height: 200px;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv .chzn-drop .divContent li {
  font-size: 0.8rem;
  color    : #333 !important;
}

.dashboard_viewer .slicerSelectComponent .slicerComboDiv .chzn-container-active .chzn-drop {
  left: 0 !important;
}

.dashboard_viewer .component .breadcrumbs {
  display: none !important;
}

.dashboard_viewer .dd-tab-bar {
  background-color: white;
}

.dashboard_viewer .dd-tab-header {
  background-color: white;
}

.dashboard_viewer .dd-tab-header-selected {
  background-color: #2b3a85;
}

.dashboard_viewer .dd-tab-header-text {
  font-size: 0.8rem;
}

.dashboard_viewer .topPanel {
  background-color: #2b3a85;
  font-size       : 0.8rem;
  padding         : 0.5rem 0.5rem 0;
}

.dashboard_viewer .topPanel .topPanelIconLabelPanel_Icon {
  margin-right: 0.5rem;
}

.dashboard_viewer .topPanel .topPanelIconLabelPanel_Label,
.dashboard_viewer .topPanel .userLabel {
  color: white;
}
@media (max-width: 1680px) {
  .dashboard_viewer .componentGroup:not(.aboveGroupFilter) > div {
    margin-left : auto;
    margin-right: 15px;
  }
}
@media (max-width: 1500px) {
  .dashboard_viewer .componentGroup > div {
    max-width: calc(100% - 200px) !important;
  }
}
@media (max-width: 1024px) {
  .dashboard_viewer .col-1,
  .dashboard_viewer .col-10,
  .dashboard_viewer .col-11,
  .dashboard_viewer .col-2,
  .dashboard_viewer .col-3,
  .dashboard_viewer .col-4,
  .dashboard_viewer .col-5,
  .dashboard_viewer .col-6,
  .dashboard_viewer .col-7,
  .dashboard_viewer .col-8,
  .dashboard_viewer .col-9 {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis             : calc(50% - 30px);
    -webkit-box-flex       : 1;
    -ms-flex-positive      : 1;
    flex-grow              : 1;
  }
}
@media (max-width: 800px) {
  .dashboard_viewer .col-1,
  .dashboard_viewer .col-10,
  .dashboard_viewer .col-11,
  .dashboard_viewer .col-2,
  .dashboard_viewer .col-3,
  .dashboard_viewer .col-4,
  .dashboard_viewer .col-5,
  .dashboard_viewer .col-6,
  .dashboard_viewer .col-7,
  .dashboard_viewer .col-8,
  .dashboard_viewer .col-9 {
    -ms-flex-preferred-size: calc(100% - 30px);
    flex-basis             : calc(100% - 30px);
    -webkit-box-flex       : 1;
    -ms-flex-positive      : 1;
    flex-grow              : 1;
  }
}
